<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hy">

    <application
        android:allowBackup="true"
        android:name=".GlobalVariable"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="GoogleAppIndexingWarning"
        >

        <activity android:name=".calendar.calendar" />
        <activity android:name=".record.record" />
        <activity android:name=".edit_pot" />
        <activity android:name=".search.search" />
        <activity android:name=".calendar.calendar_memo"/>
        <activity android:name=".forum.forum"/>
        <activity android:name=".market.market"/>
        <activity android:name=".market.market2"/>
        <activity android:name=".user_setting.user_setting"/>
        <activity android:name=".record.record_Information"/>
        <activity android:name=".record.record_Information2"/>
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".search.VegeInfo" />
        <activity android:name=".search.choose_vege" />
        <activity android:name=".test_two" />
        <activity android:name=".pot_size" />
        <activity android:name=".thirdcard" />
        <activity android:name=".secondcard" />
        <activity android:name=".firstcard" />
        <activity android:name=".select_model" />
        <activity android:name=".login.login2" />
        <activity android:name=".login.login" />
        <activity android:name=".home.home2" />


    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>