<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hy">

    <application
        android:name=".GlobalVariable"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".personal_info_edit"/>
        <activity android:name=".personal_help" />
        <activity android:name=".personal_info" />
        <activity android:name=".like_post" />
        <activity android:name=".like_vege" />
        <activity android:name=".my_post" />
        <activity android:name=".login.login2" />
        <activity android:name=".choose_calendar"/>
        <activity android:name=".calendar.calendar" />
        <activity android:name=".calendar.fake_plant_suggestion" />
        <activity android:name=".record.record" />
        <activity android:name=".edit_pot" />
        <activity android:name=".search.search" />
        <activity android:name=".calendar.calendar_memo" />
        <activity android:name=".forum.forum" />
        <activity android:name=".market.market" />
        <activity android:name=".market.market2" />
        <activity android:name=".market.market_p4" />
        <activity android:name=".user_setting.user_setting" />
        <activity android:name=".record.record_Information" />
        <activity android:name=".forum.forum_add_new_post"/>
        <activity android:name=".forum.forum_post2"/>
        <activity android:name=".forum.postpage" />
        <activity android:name=".record.record_Information2" />
        <activity android:name=".home.taipei_life_info_land_lease" />
        <activity android:name=".home.taipei_life_info_farmers" />
        <activity android:name=".home.taipei_life_farmers_infop2" />
        <activity android:name=".home.taipei_life_land_infop2" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".search.VegeInfo" />
        <activity android:name=".search.choose_vege" />
        <activity android:name=".test_two" />
        <activity android:name=".pot_size" />
        <activity android:name=".thirdcard" />
        <activity android:name=".secondcard" />
        <activity android:name=".firstcard" />
        <activity android:name=".select_model" />
        <activity android:name=".login.login" />
        <activity android:name=".home.home2" />
        <activity android:name=".market.market_to_pay"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>